.card-title{
    text-align: center;
    font-style: italic;
    color: royalblue;
    font-weight: bold;
    font-size: xx-large;
}
.card-text{
    text-align: center;
   
}
.time{
    display: flex;
    align-items: flex-end;
    
}
.card{
    width: 100%;
    
}
